@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">

    <p>After knowing everything about me, you can live happily ever after...</p>

    <p>*grin* Till you actually meet me... *evil laughter*</p>

  </div>
